/* 1000px  */
.container {
    /* background-color: yellow; */
    height: 625px;
    width: 100%;
}

#navbar ul li a {
    padding: 5px 5px;
}

/* container-2 */
.food-img {
    margin: 28px;
}

/* container-3 */
.container-3 {
    height: 900px;
}

.child-container {
    height: 850px;
    margin-left: 50px;
    margin-right: 50px;
}

.child-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    margin: 30px;
}

.container-3 img {
    margin: 20px;
}

.container-3 span {
    height: 150px;
    margin: 20px 10px;
    padding: 0px 10px;
}


/* container-4  */
.container-4 {
    align-items: flex-start;
}

#second {
    flex-direction: column;
}

/* Container-last  */
.container-last {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 970px;
    width: 100%;
    background-color: #3c3838;
    font-family: 'Oswald', sans-serif;
    /* grid-template-areas: 'img-1 h4-1 h4-1 h4-1' 'h2-1 h2-2 h2-3 h2-4' 'p-1 item-1 item-2 item-3' */

    grid-template-areas: 'img-1 h4-1 h4-1 h4-1' 'h2-1 p-1 p-1 p-1' 'h2-2 item-1 item-1 item-1' 'h2-3 item-2 item-2 item-2' 'h2-4 item-3 item-3 item-3'

}
#h2-1 {
    margin-left: 50px;
}
#h2-2 {
    margin-left: 50px;
}
#h2-3 {
    margin-left: 50px;
}
#h2-4 {
    margin-left: 50px;
}
#p-1 {
    margin-left: 30px;
    margin-top: 0px;
}
#item-1 {
    margin-left: 30px;
    margin-top: 0px;
    width: 350px;
}
#item-2 {
    margin-left: 30px;
    margin-top: 0px;
    width: 350px;
}
#item-3 {
    margin-left: 30px;
    margin-top: 0px;
    width: 350px;
}
