/* 775 */

.container {
    /* background-color: rgb(224, 214, 214); */
    height: 600px;
    width: 775px;
}
.container::before {
    height: 600px;
    width: 775px;
}

#navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
#navbar ul{
    width: 30%;
    padding: 0px 0px;
}
#navbar ul li a{
    padding: 0px 0px;
}

.container-2 {
    height: 400px;
    width: 775px;
    flex-wrap: wrap;
}

.container-3 {
    width: 775px;
}
.container-4 {
    width: 775px;
}
.container-last {
    width: 775px;
}
#h4-1 {
    width: 400px;
}
footer {
    width: 775px;
}